
label {
  display: block;
  margin-bottom: 10px;
  font-size: 30px;
}

input {
  padding: 10px;
  font-size: large;
}

p {
  padding-bottom: 10px;
}

form button {
  margin-left: 10px;
  padding: 10px;
  font-size: large;
  background: #fff;
  cursor: pointer;
  border: #000 solid 1px;
  border-radius: 3px;
}

.container {
  margin: 40px 110px;
}

.chat-container {
  margin: 10px 120px;
  width: 40%;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 20px 20px 25px 20px;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.time-left {
  float: left;
  color: #999;
}
